@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 1.2rem;
    line-height: 1.2;
    font-optical-sizing: none;
    text-rendering: geometricPrecision;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    @apply bg-blacks-100 text-basic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading;
}
p {
    @apply text-basic font-text text-lg px-4 py-2 mb-4 text-pretty;
    width: 48ch;
}
#cursor-blob {
    width: 50px;
    height: 50px;
    background: linear-gradient(
        120deg,
        #ff414d,
        #002d40,
        #d9ecf2,
        #f56a79,
        #1aa6b7
    );
    background-size: 1600% 1600%;
    position: absolute;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
    transition: 0.15s linear;
    animation: blob-radius 5s ease infinite, blob-background 15s ease infinite;
}

li {
    cursor: pointer;
    font-size: 10vw;
    transition: transform 0.25s ease;
}
li:hover {
    transform: translateX(25px);
}
