@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 1.2rem;
    line-height: 1.2;
    font-optical-sizing: none;
    text-rendering: geometricPrecision;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100vw;
}
body {
    @apply bg-blacks-100 text-basic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading;
}
p {
    @apply text-basic font-text text-lg px-4 py-2 mb-4 text-pretty;
    width: 48ch;
}
